services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: deribit
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  api:
    build: .
    env_file:
      - .env
    depends_on:
      - db
      - redis
    ports:
      - "8011:8011"
    command: ["python", "-m", "uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8011"]

  celery_worker:
    build: .
    env_file:
      - .env
    depends_on:
      - db
      - redis
    command: ["python", "-m", "celery", "-A", "app.tasks.celery_app:celery_app", "worker", "-l", "INFO"]

  celery_beat:
    build: .
    env_file:
      - .env
    depends_on:
      - db
      - redis
    command: ["python", "-m", "celery", "-A", "app.tasks.celery_app:celery_app", "beat", "-l", "INFO"]

volumes:
  pgdata:
