services:
  api:
    build: .
    env_file:
      - .env
    ports:
      - "8011:8011"
    depends_on:
      - db
      - redis

  celery_worker:
    build: .
    env_file:
      - .env
    command: ["python", "-m", "celery", "-A", "app.tasks.celery_app:celery_app", "worker", "-l", "INFO"]
    depends_on:
      - db
      - redis

  celery_beat:
    build: .
    env_file:
      - .env
    command: ["python", "-m", "celery", "-A", "app.tasks.celery_app:celery_app", "beat", "-l", "INFO"]
    depends_on:
      - db
      - redis

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: deribit
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  adminer:
    image: adminer:4
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  pgdata:
